body {
  opacity: 0.95;
  z-index: -1;
}

div.icon-block {
  padding: 1px 5px 5px 1px;
  margin-top: 5px;
  background-color: none;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
  width: 90%;
}

nav.lighten-1 {
  background-color: black;
  opacity: 0.5;
}

div.row {
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 0px 0;
}

h5.center {
  color: white;
  background-color: black;
  font-family: roboto, arial;
  font-size: 1.85em;
  font-weight: bold;
  opacity: 0.5;
  width: 98.5%;
  margin: 0px 0px 0px 5px;
}

h5.center {
  padding: 5px 0px 2px 0px;
  line-height: 1;
  /*justify-content: center;
  text-align: center;*/
}

div > a#logo-container {
  font-family: fantasy;
}

div.bookmarks {
  margin-left: 7%;
  font-size: 2em;
  width: 85%;
}

div#button-container {
  width:  7%;
}

/* Reddit Api - NEWS */
span#title1.title, span#title2.title, span#title3.title, span#title4.title, span#title5.title {
 font-size: 1.2em;
}

span#player1.title, span#player2.title, span#player3.title, span#player4.title, span#player5.title, span#bi-1.title, span#bi-2.title, span#bi-3.title, span#bi-4.title, span#bi-5.title  {
  font-size: 1.2em;
  margin-left: 10px;
  padding-top: 7px;
}

ul.collection {
  background-color: none;
  opacity: 0.95;
  border: none;
  margin: 0px 0px 3px;
}

li.collection-item.avatar {
  left: 5px;
  padding: 5px 20px 5px 5px;
  line-height: 1.25;
  background-color: black;
  font-family: roboto, arial;
  color: white;
  opacity: 0.95;
  min-height: 75px;
}

li.thumbnail.collection-item.avatar {
  left: 5px;
  margin: 0px;
  padding: 0px 5px 0px 0px;
  display: inline-flex;
  line-height: 1.25;
  min-height: 75px;
}

li.collection-item.avatar.biNews {
  left: 5px;
  margin: 0px;
  padding: 5px 5px 5px 5px;
  display: inline-flex;
  line-height: 1.25;
  min-height: 75px;
}

div.section {
  margin-bottom: 5px;
  padding: 0px;
}

/*div.widget-background {
  background-color: black;
  opacity: 1.0;
  z-index: 1;
}*/

/* YouTube api*/
div#player {
  display: inline-block;
}

nav div ul li a {
  font-family: roboto, arial;
}

a.newsUrl {
  height: 90px;
  width: 120px;
}
